$backgroundColor: #F3F3F3;
$headerInformationColor: #4E4C5D;
$headerContainerMenuColor: #E8E6E6;
$headerContainerSupportColor: #FFF702;
$headerContainerSupportTextColor: #800080;
$mainTextColor: #FFF;
$whatsappButtonLinkColor: #00C134;
$youtubeButtonLinkColor: #C73E3E;
$showsContainerColor: rgba(153, 153, 151, 0.6);
