$backgroundColor: #040714;
$mainTextColor: silver;
$secundaryTextColor: #F9F9F9;
$buttonColor: #6421FF;
$buttonSecundaryColor: #0063E5;
$buttonDarkColor: #000;
$faqItemColor: #13151D;
$faqQuestionColor: #FFF;